<div class="player-container mt-20">
  <div class="select-wrapper">
    <tui-select class="select" #select [(ngModel)]="selectedDubber" [valueContent]="selectedDubber() + ' ' + dubberEpisodesCount(selectedDubber())">
      Выберите озвучку
      <tui-data-list *tuiDataList>
        <tui-opt-group label="Озвучки">
          <button
            *ngFor="let dabber of dubbersData().dubbers"
            tuiOption
            type="button"
            [value]="dabber"
          >
            {{ dabber }} {{ dubberEpisodesCount(dabber) }}
          </button>
        </tui-opt-group>
        <tui-opt-group label="Субтитры">
          <button
            tuiOption
            type="button"
            *ngFor="let subtitle of dubbersData().subtitles"
            [value]="subtitle"
          >
            {{ subtitle }} {{ dubberEpisodesCount(subtitle) }}
          </button>
        </tui-opt-group>
      </tui-data-list>
    </tui-select>

    <tui-select [disabled]="!selectedDubber()" class="select" #select [(ngModel)]="selectedPlayer" [valueContent]="selectedPlayer() + ' ' + playerEpisodesCount(selectedDubber(), selectedPlayer())">
      Выберите плеер
      <tui-data-list *tuiDataList>
        <tui-opt-group label="Озвучки">
          <button *ngFor="let player of playersData()" tuiOption type="button" [value]="player">
            {{ player }} {{ playerEpisodesCount(selectedDubber(), player) }}
          </button>
        </tui-opt-group>
      </tui-data-list>
    </tui-select>
  </div>

  <div class="episodes-wrapper">
    @for (item of playersDataWithEpisodes()[selectedDubber()]?.[selectedPlayer()] || []; track item.id) {
      <div class="episode-item" [class.selected]="selectedEpisode()?.id === item.id" [class.watched]="isEpisodeWatched(item)" (click)="setSelectedEpisode(item)">
        {{ item.episode }}
      </div>
    }
  </div>

  <div class="player-wrapper w-full">
    <ani-player-iframe [url]="selectedEpisode()?.iframeUrl ?? ''" />
  </div>
</div>
