.player-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 15px;
  position: relative;
  pointer-events: auto;
}

.select-wrapper {
  display: flex;
  gap: 10px;
}

.select {
  min-width: 320px;
}

.episodes-wrapper {
  position: relative;
  width: 97%;
  max-height: 200px;
  overflow-y: scroll;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;

  position: relative;
  pointer-events: auto !important;

  &:focus {
    outline: none;
  }
  
  /* Приоритет обработки событий скролла */
  touch-action: pan-y;
  
  /* Важно для событий скролла на macOS */
  will-change: scroll-position;
  
  /* Принудительное создание нового контекста прокрутки */
  transform: translateZ(0);

  &::-webkit-scrollbar {
    width: 4px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 4px;
  }
  
  /* Специальные флаги для принудительного рендеринга скролла */
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
  
  /* Создаём новый контекст наложения */
  isolation: isolate;
  z-index: 1;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.episode-item {
  flex: 0 0 auto; /* запрещаем сжиматься/растягиваться */
  font-size: 19px;
  border: 1px solid #636363;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 5px;

  &:hover {
    background-color: #636363;
  }
}

div.selected {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);

  &:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
}

.watched {
  background-color: #636363;
  border-color: #636363;

  &:hover {
    opacity: 0.8;
  }
}

.player-wrapper {
  height: 700px;
}
