<ani-content>
  <div class="bg-wrap">
    <div class="bg-head">
      <img
        class="bg-img"
        [src]="animeDetails().poster['fullsize']"
        alt="background"
        priority
      />
    </div>
  </div>

  <div class="main-wrapper">
    <div class="container">
      <div class="side-bar">
        <div class="sticky-wrap">
          <div class="image-wrap">
            <img
              width="240"
              height="360"
              class="main-image"
              [ngSrc]="animeDetails().poster['fullsize']"
              priority
            />
          </div>
        </div>
      </div>
      <div class="main-content flex w-full flex-column">
        <div class="content-header flex flex-column">
          <div class="flex flex-column">
            <span class="aired fz-16 fw-400"
              >Аниме {{ animeDetails().year || '' }}</span
            >
            <h1 class="title fw-500 mt-10">{{ animeDetails().title }}</h1>
          </div>

          <div class="info-wrap flex mt-20">
            @for (infoItem of infoItems(); track infoItem.id) {
            <ani-info-item [item]="infoItem"></ani-info-item>
            }
          </div>
        </div>

        <div class="divider"></div>
        <div class="tabs-wrapper mb-15">
          <ani-tabs
            [tabs]="tabs"
            [pageId]="pageId()"
            (onTabChange)="tabIndex.set($event)"
          ></ani-tabs>
        </div>

        <div class="description-wrap">
          @if (tabIndex() === 0) {
          <ani-descr
            [description]="animeDetails().description || '' | removeChars"
          />

          <div class="chip-wrapper">
            @for (genre of animeDetails().genres; track genre.id) {
            <ani-chip [chipValue]="genre.title"></ani-chip>
            }
          </div>

          <div class="additional-data">
            <div class="alternative-names">
              <span class="alt-title fw-600">Альтернативные названия:</span>
              <div>
                @for (name of animeDetails().otherTitles; track name) {
                <span class="alt-name">{{ name }}</span>
                }
              </div>
            </div>

            @if (animeDetails().episodes.nextDate) { @let nextEpisode =
            getTimeDiffereceToNextEpisode();

            <div class="vertical-divider"></div>

            <div>
              <span class="alt-title fw-600"
                >Следующий эпизод:
                <tui-icon
                  tuiHintDirection="top"
                  tuiTooltip="Дата выхода в Японии"
                />
              </span>
              <div class="next-episode-wrapper mt-10">
                <span class="alt-name fz-16">{{ nextEpisode?.timeLeft !== 'Уже вышло' ? nextEpisode?.date : '' }}</span>
                <span class="alt-name fz-16">{{ nextEpisode?.timeLeft }}</span>
              </div>
            </div>
            }
          </div>

          @if (animeDetails().viewingOrder.length > 0) {
          <div class="view-order-container flex mt-20">
            <tui-elastic-container>
              <div class="order-watch-wrap">
              <button
                tuiButton
                (click)="toggelExpand()"
                appearance="flat"
                [iconEnd]="
                  isExpanded() ? '@tui.chevron-up' : '@tui.chevron-down'
                "
                size="s"
                tuiButton
                class="fz-18 fw-600 w-fit"
              >
                Порядок просмотра
              </button>
              @if (isExpanded()) {
                @for (anime of animeDetails().viewingOrder; track anime.animeId) {
                  <ani-line-tile [anime]="anime"></ani-line-tile>
                }
              }
              </div>
            </tui-elastic-container>
          </div>
          } @if (animeDetails().videos.length > 0) { @defer (on immediate) {
            <ani-player [videos]="animeDetails().videos" [animeId]="pageId()"></ani-player>
          } } } @else {
            @defer (on viewport) {
              <app-recommendations></app-recommendations>
            } @placeholder {
              <div class="recommendations-placeholder"></div>
            }
          }
        </div>

        <!-- <div class="comments-container">
          <span class="fz-24 fw-600">Комментарии</span>
          <ani-comment-input></ani-comment-input>
        </div> -->
      </div>
    </div>
  </div>
</ani-content>
