<tui-elastic-container>
  <div class="flex flex-column align-start">
    @if (description()) {
    {{ description() | truncate : (isExpanded() ? 9999999 : 400) : true }}

    @if (description().length > 400) {
      <button
        [size]="'s'"
        (click)="toggelExpand()"
        appearance="flat"
        [iconEnd]="isExpanded() ? '@tui.chevron-up' : '@tui.chevron-down'"
        size="s"
        tuiButton
      >
        {{ isExpanded() ? "Меньше" : "Больше" }}
      </button>
    }
    } @else {
    <p>Описание отсуствует</p>
    }
  </div>
</tui-elastic-container>
