.info-item {
    align-items: flex-start;
    gap: 5px;
}

.info-title {
    color: var(--text-secondary);
    text-transform: capitalize;
}

.info-value {
    &:first-letter {
        text-transform: uppercase;
    }
}
