<header class="header-wrapper">
  <nav class="nav-container">
    <a
      class="mr-15 flex"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <ani-logo />
    </a>
    <div class="links-wrapper">
      <a
        class="link"
        routerLink="/catalog"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Каталог</a
      >
      <a
        class="link"
        routerLink="/search"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Поиск</a
      >
      <a
        class="link"
        routerLink="/top"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Топ 100</a
      >
      <a
        class="link"
        routerLink="/bookmarks"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Закладки
      </a>
    </div>
  </nav>
</header>
