.search-wrapper {
    width: 40%;
    padding: 0 45px;
}

.search-list {
  width: 100%;
  max-width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
  padding: 35px 35px;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
} 

