<ani-content>
  <h1 class="mt-15 ml-15 mb-20">Поиск</h1>

  <div class="search-wrapper">
    <form [formGroup]="searchForm">
      <tui-textfield iconStart="@tui.search" (click)="focusInput()">
        <input #searchInput formControlName="search" placeholder="Введите название..." tuiTextfield />
      </tui-textfield>
    </form>
  </div>

  <section class="search-list flex gap-10">
    @if (store.search().searchResults.length > 0) {
      @for (anime of store.search().searchResults; track anime.animeId) {
        <ani-catalog-tile
          [anime]="anime"
          [lastAnimeElement]="lastAnimeElement"
        ></ani-catalog-tile>
      }
    } @else {
      <div class="search-list__empty">
        <span class="search-list__empty-text">Введите название аниме</span>
      </div>
    }
  </section>
</ani-content>

